{% extends 'layout.html' %}
{% block title %}Progress Report{% endblock %}
{% block content %}

    
    <div class = "home-content">
        <h1>IT Management Group 3</h1>
        <p>Welcome to our project management website, designed to help you develop effective strategies and use the right tools to enhance your project management skills. This platform enables you to optimize your productivity, prioritize tasks, and make the most of your time, leading to better efficiency and personal success.</p>

        <h2>Our portfolio:</h2>
        <p>Our portfolio features an easy-to-use interface that includes a Gantt chart for visualizing timelines, a project network diagram for mapping out dependencies, and templates for status reports and risk management. Each element is designed to help teams work more efficiently, communicate effectively, and meet their project goals on time.</p>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

