<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}IT Project Management Group 3{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <h1>IT Project Management Group 3</h1>
    </header>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/services">Services</a> |
        <a href="/contact">Contact</a> |
        <a href="/projects">Projects</a> |
        <a href="/blog">Blog</a> |
        <a href="/SOWs">SOW</a> |
        <a href="/WBS">WBS</a> |
        <a href="/GanttChart">GanttChart</a> |
    </nav>



    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>



{% block footer %}
<p>&copy; 2024 Your Company. All rights reserved.</p>
{% endblock %}


</html>