<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <div class="container">
        <nav>
            <a href="/">Home</a> | 
            <a href="/services">Services</a> | 
            <a href="/team_profile">Team Profile</a> |
            <a href="/charter">Project Charter</a>
            <a href="/projects">Projects</a> |
            <a href="/blog">Blog</a> |
            <a href="/SOWs">SOW</a> |
            <a href="/WBS">WBS</a> |
            <a href="/GanttChart">GanttChart</a> |
            <a href="/CostEstimator">CostEstimator</a> |
        </nav>
        <p>This is a simple Flask app that serves a web page.</p>
    </div>
    <p>This is our contact page.</p>
</body>
</html>
